{
  "openapi": "3.1.0",
  "info": {
    "title": "SmartlyQ API",
    "version": "1.0.0",
    "description": "# SmartlyQ API\n\nREST API for the SmartlyQ platform: generate content, manage social posts, chatbots, media, and more.\n\n## Quick Start\n\n1. Get an API key from [app.smartlyq.com/my/developer](https://app.smartlyq.com/my/developer).\n2. Send your first request:\n\n```bash\ncurl -H \"Authorization: Bearer YOUR_API_KEY\" https://api.smartlyq.com/v1/me\n```\n\n## Authentication\n\nAll requests (except health/docs) require a **Bearer token**. Use your API key as the token:\n\n- **Key types:** `sqk_live_*` (live) or `sqk_test_*` (test/sandbox).\n- **Header:** `Authorization: Bearer sqk_live_xxxx` or `Authorization: Bearer sqk_test_xxxx`.\n\n| Scope | Description |\n|-------|-------------|\n| `articles:read` | List and get articles |\n| `articles:write` | Generate, delete articles |\n| `images:read` | List and get images |\n| `images:write` | Generate, delete images |\n| `videos:read` | List and get videos |\n| `videos:write` | Generate, delete videos |\n| `presentations:write` | Generate presentations |\n| `social:read` | List accounts and posts |\n| `social:write` | Create, update, delete posts |\n| `audio:read` | Get audio resources |\n| `audio:write` | Text-to-speech, speech-to-text |\n| `urls:read` | List and get short URLs and stats |\n| `urls:write` | Shorten, delete URLs |\n| `captain:use` | AI Captain messages and conversations |\n| `chatbot:use` | Chatbots, train, messages, conversations |\n| `media:read` | List and get media |\n| `media:write` | Upload, delete media |\n| `analytics:read` | Overview, posts, account analytics |\n| `jobs:read` | List and get async jobs, cancel |\n| `seo:read` | Keyword research, SERP, rank tracking, competitors, backlinks, on-page audits |\n\n## Billing & Credits\n\n- **Prepaid wallet:** API usage is deducted from your Developer API wallet (credits in SQC).\n- **Pricing:** See the [pricing table](https://smartlyq.com/pricing) and in-app Developer dashboard for per-operation costs.\n- **How it works:** Each billable request (e.g. generate, post, chatbot message) consumes credits; response may include `usage` with `cost` and `balance_remaining`.\n- **Top up:** Add credits via [app.smartlyq.com/my/developer](https://app.smartlyq.com/my/developer) (wallet / top-up).\n\n## Rate Limiting\n\nLimits apply per API key (and may be enforced per user or IP). Default is 60 requests per minute per key (overridable per key).\n\nResponse headers:\n\n| Header | Description |\n|--------|-------------|\n| `X-RateLimit-Limit` | Max requests per window |\n| `X-RateLimit-Remaining` | Remaining in current window |\n| `X-RateLimit-Reset` | Unix timestamp when the window resets |\n\nWhen exceeded: HTTP `429` with `Retry-After` header.\n\n## Errors\n\nErrors are JSON with a consistent shape:\n\n```json\n{\n  \"success\": false,\n  \"error\": {\n    \"code\": \"ERROR_CODE\",\n    \"message\": \"Human-readable message\",\n    \"details\": {}\n  },\n  \"meta\": { \"request_id\": \"...\", \"timestamp\": \"...\" }\n}\n```\n\n| HTTP | Code | Meaning |\n|-----|------|---------|\n| 400 | `BAD_REQUEST` | Malformed or invalid request |\n| 401 | `UNAUTHORIZED` | Missing or invalid API key |\n| 402 | `INSUFFICIENT_BALANCE` | Not enough credits |\n| 403 | `FORBIDDEN` | Valid key but insufficient scope or access |\n| 404 | `RESOURCE_NOT_FOUND` | Resource does not exist |\n| 409 | `CONFLICT` | Conflict (e.g. duplicate idempotency) |\n| 422 | `VALIDATION_ERROR` | Validation failed (fields in details) |\n| 429 | `RATE_LIMIT_EXCEEDED` | Too many requests |\n| 500 | `INTERNAL_ERROR` | Server error |\n\n## Async Jobs & Polling\n\nSome operations (e.g. article or video generation) return **HTTP 202 Accepted** with a `job_id`. Poll for status:\n\n- **Poll:** `GET /jobs/{job_id}` until `status` is `completed`, `failed`, or `cancelled`.\n- Response includes `result` or `error` when finished.\n\n## Webhooks\n\nConfigure webhook URLs in the Developer dashboard. We send HTTP POST to your URL with a signed payload.\n\n- **Verification:** Validate signature using your webhook secret (see dashboard).\n- **Events:** e.g. `job.completed`, `job.failed`, `chatbot.conversation.ended`.\n\n## Idempotency\n\nFor POST/PUT/PATCH, send **`X-Idempotency-Key`** (unique value per logical operation). Within 24 hours, the same key returns the same response without re-executing.\n\n## Pagination\n\n- **Offset:** `page` (1-based) and `per_page` (default 20, max 100).\n- Response includes `pagination` with `page`, `per_page`, `total`, `pages`.\n\n## Versioning\n\nCurrent version is **v1**. Base path: `https://api.smartlyq.com/v1`. Future versions will use new path prefixes (e.g. `/v2/`).\n",
    "contact": {
      "name": "SmartlyQ Support",
      "url": "https://smartlyq.com",
      "email": "support@smartlyq.com"
    },
    "license": {
      "name": "Proprietary",
      "url": "https://smartlyq.com/terms"
    }
  },
  "servers": [
    {
      "url": "https://api.smartlyq.com/v1",
      "description": "Production"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Articles",
      "description": "Long-form article generation and management"
    },
    {
      "name": "Images",
      "description": "AI image generation and listing"
    },
    {
      "name": "Videos",
      "description": "AI video generation and listing"
    },
    {
      "name": "Social",
      "description": "Social accounts and post scheduling"
    },
    {
      "name": "Content",
      "description": "Content rewriting"
    },
    {
      "name": "Audio",
      "description": "Text-to-speech and speech-to-text"
    },
    {
      "name": "URLs",
      "description": "URL shortening and analytics"
    },
    {
      "name": "AI Captain",
      "description": "AI Captain conversations"
    },
    {
      "name": "Chatbot",
      "description": "Chatbots, training, and conversations"
    },
    {
      "name": "Media",
      "description": "Media library and uploads"
    },
    {
      "name": "Analytics",
      "description": "Analytics overview and reports"
    },
    {
      "name": "Jobs",
      "description": "Async job status and cancellation"
    },
    {
      "name": "SEO",
      "description": "DataForSEO-backed keyword research, SERP, rank tracking, competitors, backlinks and on-page audits"
    },
    {
      "name": "Account",
      "description": "Current user, usage, and balance"
    },
    {
      "name": "Comments",
      "description": "Comments endpoints"
    },
    {
      "name": "Direct Messages",
      "description": "Direct Messages endpoints"
    },
    {
      "name": "Webhooks",
      "description": "Subscribe to event notifications (HMAC-signed deliveries with retries)."
    },
    {
      "name": "Shorts",
      "description": "Magic Shorts: turn long videos into ranked viral clips"
    },
    {
      "name": "Presentations",
      "description": "AI presentation (slide deck) generation from a prompt"
    }
  ],
  "paths": {
    "/articles/generate": {
      "post": {
        "summary": "Generate article",
        "description": "Start article generation. Returns 202 with job_id; poll GET /jobs/{job_id} for result. Either `topic` or `keywords` must be provided.",
        "operationId": "generateArticle",
        "tags": [
          "Articles"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ArticleGenerateRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted; poll job for result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobCreatedResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/InsufficientBalance"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/articles": {
      "get": {
        "summary": "List articles",
        "operationId": "listArticles",
        "tags": [
          "Articles"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PageParam"
          },
          {
            "$ref": "#/components/parameters/PerPageParam"
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "draft",
                "published"
              ]
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of articles",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArticleListResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/articles/{article_id}": {
      "get": {
        "summary": "Get article",
        "operationId": "getArticle",
        "tags": [
          "Articles"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ArticleIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Single article",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArticleSingleResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "delete": {
        "summary": "Delete article",
        "operationId": "deleteArticle",
        "tags": [
          "Articles"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ArticleIdParam"
          }
        ],
        "responses": {
          "204": {
            "description": "Article deleted"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/images/generate": {
      "post": {
        "summary": "Generate image",
        "description": "Returns 202 with job_id for async generation. Either `prompt` or `description` must be provided.",
        "operationId": "generateImage",
        "tags": [
          "Images"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ImageGenerateRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted; poll job for result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobCreatedResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/InsufficientBalance"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/images": {
      "get": {
        "summary": "List images",
        "operationId": "listImages",
        "tags": [
          "Images"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PageParam"
          },
          {
            "$ref": "#/components/parameters/PerPageParam"
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "style",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of images",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageListResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/images/{image_id}": {
      "get": {
        "summary": "Get image",
        "operationId": "getImage",
        "tags": [
          "Images"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ImageIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Single image",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageSingleResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "delete": {
        "summary": "Delete image",
        "operationId": "deleteImage",
        "tags": [
          "Images"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ImageIdParam"
          }
        ],
        "responses": {
          "204": {
            "description": "Image deleted"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/videos/models": {
      "get": {
        "summary": "List available video models",
        "description": "Returns every model currently available for video generation, including valid parameter values for each model and generation type.\n\nCall this endpoint before submitting a generation request to discover what options a specific model supports. Empty arrays (`[]`) mean the parameter is not applicable. Boolean `supports_*` flags indicate optional feature availability.",
        "operationId": "listVideoModels",
        "tags": [
          "Videos"
        ],
        "responses": {
          "200": {
            "description": "List of available models with their capabilities",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoModelsResponse"
                },
                "example": {
                  "success": true,
                  "data": [
                    {
                      "model": "kling-v2-1",
                      "type": "text_to_video",
                      "params": {
                        "duration": [
                          5,
                          10
                        ],
                        "resolution": [],
                        "mode": [
                          "Standard",
                          "Professional"
                        ],
                        "aspect_ratio": [
                          "16:9",
                          "9:16",
                          "1:1"
                        ],
                        "style": [],
                        "movement": [],
                        "supports_negative_prompt": true,
                        "supports_seed": false,
                        "supports_generate_audio": false,
                        "supports_camera_fixed": false,
                        "prompt_max_length": 2500
                      }
                    },
                    {
                      "model": "pixverse-v4-5",
                      "type": "text_to_video",
                      "params": {
                        "duration": [
                          5,
                          8
                        ],
                        "resolution": [
                          "360p",
                          "540p",
                          "720p",
                          "1080p"
                        ],
                        "mode": [
                          "Normal",
                          "Fast"
                        ],
                        "aspect_ratio": [
                          "16:9",
                          "9:16",
                          "1:1",
                          "4:3",
                          "3:4"
                        ],
                        "style": [
                          "Auto",
                          "Anime",
                          "3D Animation",
                          "Comic",
                          "Clay",
                          "Cyberpunk"
                        ],
                        "movement": [],
                        "supports_negative_prompt": false,
                        "supports_seed": true,
                        "supports_generate_audio": false,
                        "supports_camera_fixed": false,
                        "prompt_max_length": 2000
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/videos/generate": {
      "post": {
        "summary": "Generate video",
        "description": "Submits a video generation request. Returns `202 Accepted` immediately with a `job_uid`; poll `GET /v1/jobs/{job_uid}` for status and the final video URL.\n\n**Before submitting:** call `GET /v1/videos/models` to retrieve the valid parameter values (`duration`, `resolution`, `mode`, `aspect_ratio`, etc.) for your chosen model. Passing an unsupported value returns a `422` validation error.\n\n**Billing:** the cost is deducted from your API wallet when the job is accepted. If video generation fails on the provider side the charge is automatically refunded.",
        "operationId": "generateVideo",
        "tags": [
          "Videos"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VideoGenerateRequest"
              },
              "examples": {
                "text_to_video": {
                  "summary": "Text-to-video (Kling v2.1)",
                  "value": {
                    "model": "kling-v2-1",
                    "type": "text_to_video",
                    "prompt": "A lone astronaut walks across a crimson desert at sunset",
                    "duration": 10,
                    "mode": "Professional",
                    "aspect_ratio": "16:9"
                  }
                },
                "image_to_video": {
                  "summary": "Image-to-video (Pixverse v4.5)",
                  "value": {
                    "model": "pixverse-v4-5",
                    "type": "image_to_video",
                    "image_url": "https://example.com/my-image.jpg",
                    "prompt": "Camera slowly pulls back to reveal the full scene",
                    "duration": 5,
                    "resolution": "1080p",
                    "style": "Anime"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted — poll GET /v1/jobs/{job_uid} for result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoJobCreatedResponse"
                },
                "example": {
                  "success": true,
                  "data": {
                    "job_uid": "job_a1b2c3d4e5f6",
                    "status": "queued"
                  },
                  "usage": {
                    "units": 1,
                    "cost": "0.2800",
                    "balance_remaining": "14.7200"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/InsufficientBalance"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/avatar-videos/avatars": {
      "get": {
        "summary": "List avatars",
        "description": "Lists available AI avatars and talking photos for avatar video generation. Not billed.",
        "operationId": "listAvatars",
        "tags": [
          "Videos"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/avatar-videos/voices": {
      "get": {
        "summary": "List avatar voices",
        "description": "Lists available voices (id, name, language, gender) for avatar videos. Not billed.",
        "operationId": "listAvatarVoices",
        "tags": [
          "Videos"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/avatar-videos/generate": {
      "post": {
        "summary": "Generate avatar video",
        "description": "Generates a talking-avatar video from a script. Returns `202 Accepted` with a `job_uid`; poll `GET /v1/avatar-videos/{uid}` for status and the final video URL.\n\n**Before submitting:** call `GET /v1/avatar-videos/avatars` and `GET /v1/avatar-videos/voices` to pick a valid `avatar_id` + `voice_id`.\n\n**Billing:** the cost is deducted from your API wallet when the job is accepted. If the render fails the charge is automatically refunded.",
        "operationId": "generateAvatarVideo",
        "tags": [
          "Videos"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "script",
                  "avatar_id",
                  "voice_id"
                ],
                "properties": {
                  "script": {
                    "type": "string",
                    "description": "Text the avatar will speak."
                  },
                  "avatar_id": {
                    "type": "string",
                    "description": "Avatar id from GET /v1/avatar-videos/avatars."
                  },
                  "voice_id": {
                    "type": "string",
                    "description": "Voice id from GET /v1/avatar-videos/voices."
                  },
                  "dimension": {
                    "type": "string",
                    "description": "Output resolution WxH.",
                    "default": "1920x1080"
                  },
                  "title": {
                    "type": "string",
                    "description": "Optional title for the render."
                  }
                }
              },
              "example": {
                "script": "Hello from SmartlyQ.",
                "avatar_id": "Daisy-inskirt-20220818",
                "voice_id": "2d5b0e6cf36f460aa7fc47e3eee4ba54",
                "dimension": "1920x1080"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted — poll GET /v1/avatar-videos/{uid} for result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "data": {
                    "job_uid": "hg_a1b2c3d4e5f6",
                    "status": "queued"
                  },
                  "usage": {
                    "units": 1,
                    "cost": "12.0000",
                    "balance_remaining": "88.0000"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/InsufficientBalance"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/avatar-videos/translate": {
      "post": {
        "summary": "Translate a video",
        "description": "Re-voices an existing video into other languages. Returns `202 Accepted` with a `job_uid`; poll `GET /v1/avatar-videos/{uid}`. Billed per request from your API wallet; refunded on failure.",
        "operationId": "translateVideo",
        "tags": [
          "Videos"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "source_video_url",
                  "target_languages"
                ],
                "properties": {
                  "source_video_url": {
                    "type": "string",
                    "description": "URL of the video to translate."
                  },
                  "target_languages": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Target languages, e.g. [\"Spanish\", \"French\"]."
                  },
                  "quality": {
                    "type": "string",
                    "enum": [
                      "speed",
                      "precision"
                    ],
                    "default": "speed"
                  },
                  "title": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted — poll GET /v1/avatar-videos/{uid} for result"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/InsufficientBalance"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/avatar-videos/lipsync": {
      "post": {
        "summary": "Lipsync a video",
        "description": "Drives an avatar with a provided audio track. Returns `202 Accepted` with a `job_uid`; poll `GET /v1/avatar-videos/{uid}`. Billed per request from your API wallet; refunded on failure.",
        "operationId": "lipsyncVideo",
        "tags": [
          "Videos"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "avatar_id",
                  "audio_url"
                ],
                "properties": {
                  "avatar_id": {
                    "type": "string",
                    "description": "Avatar id from GET /v1/avatar-videos/avatars."
                  },
                  "audio_url": {
                    "type": "string",
                    "description": "URL of the audio to lipsync."
                  },
                  "quality": {
                    "type": "string",
                    "enum": [
                      "speed",
                      "precision"
                    ],
                    "default": "speed"
                  },
                  "title": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted — poll GET /v1/avatar-videos/{uid} for result"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/InsufficientBalance"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/avatar-videos/agent": {
      "post": {
        "summary": "Generate a video from a prompt",
        "description": "Prompt-to-video. From a single prompt the agent writes the script, picks the avatar and voice, and renders - no `avatar_id`/`voice_id` needed. Returns `202 Accepted` with a `job_uid`; poll `GET /v1/avatar-videos/{uid}`. Billed per request from your API wallet; refunded on failure.",
        "operationId": "agentVideo",
        "tags": [
          "Videos"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "prompt"
                ],
                "properties": {
                  "prompt": {
                    "type": "string",
                    "description": "What the video should be about, e.g. 'A 30-second product launch announcement, upbeat and confident'.",
                    "maxLength": 2000
                  },
                  "dimension": {
                    "type": "string",
                    "description": "WxH, e.g. 1920x1080 (default) or 1080x1920."
                  },
                  "title": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted — poll GET /v1/avatar-videos/{uid} for result"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/InsufficientBalance"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/avatar-videos/{uid}": {
      "get": {
        "summary": "Get avatar video render",
        "description": "Returns the status and (when complete) the video URL for an avatar-video render.",
        "operationId": "getAvatarVideo",
        "tags": [
          "Videos"
        ],
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The job_uid returned by generate/translate/lipsync."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true,
                  "data": {
                    "job_uid": "hg_a1b2c3d4e5f6",
                    "status": "completed",
                    "kind": "stock",
                    "progress": 100,
                    "video_url": "https://videocdn.smartlyq.com/video-studio/42/hg_a1b2c3d4e5f6.mp4",
                    "duration_sec": 42,
                    "error": "",
                    "created_at": "2026-10-15 09:16:00"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/videos": {
      "get": {
        "summary": "List videos",
        "operationId": "listVideos",
        "tags": [
          "Videos"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PageParam"
          },
          {
            "$ref": "#/components/parameters/PerPageParam"
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "style",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of videos",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoListResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/videos/{video_id}": {
      "get": {
        "summary": "Get video",
        "operationId": "getVideo",
        "tags": [
          "Videos"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/VideoIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Single video",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoSingleResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "delete": {
        "summary": "Delete video",
        "operationId": "deleteVideo",
        "tags": [
          "Videos"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/VideoIdParam"
          }
        ],
        "responses": {
          "204": {
            "description": "Video deleted"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/social/accounts": {
      "get": {
        "summary": "List social accounts",
        "description": "Returns all connected social media accounts for the authenticated user.",
        "operationId": "listSocialAccounts",
        "tags": [
          "Social"
        ],
        "responses": {
          "200": {
            "description": "List of social accounts",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SocialAccountListResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/social/posts": {
      "post": {
        "summary": "Create post (publish immediately)",
        "operationId": "createSocialPost",
        "tags": [
          "Social"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SocialPostCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Post created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SocialPostResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/InsufficientBalance"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "get": {
        "summary": "List social posts",
        "operationId": "listSocialPosts",
        "tags": [
          "Social"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PageParam"
          },
          {
            "$ref": "#/components/parameters/PerPageParam"
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "scheduled",
                "published",
                "failed"
              ]
            }
          },
          {
            "name": "platform",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by social platform"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of posts",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SocialPostListResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/social/posts/schedule": {
      "post": {
        "summary": "Schedule post",
        "operationId": "scheduleSocialPost",
        "tags": [
          "Social"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SocialPostScheduleRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Post scheduled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SocialPostResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/InsufficientBalance"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/social/posts/{post_id}": {
      "get": {
        "summary": "Get social post",
        "operationId": "getSocialPost",
        "tags": [
          "Social"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PostIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Single post",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SocialPostSingleResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "patch": {
        "summary": "Update social post",
        "operationId": "updateSocialPost",
        "tags": [
          "Social"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PostIdParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SocialPostUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated post",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SocialPostSingleResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "delete": {
        "summary": "Delete social post",
        "operationId": "deleteSocialPost",
        "tags": [
          "Social"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PostIdParam"
          }
        ],
        "responses": {
          "204": {
            "description": "Post deleted"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/content/rewrite": {
      "post": {
        "summary": "Rewrite content",
        "operationId": "rewriteContent",
        "tags": [
          "Content"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContentRewriteRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Rewrite accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContentRewriteResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/InsufficientBalance"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/seo/keyword-research": {
      "post": {
        "summary": "Keyword research",
        "description": "Keyword suggestions for a seed keyword with real monthly search volume, CPC and competition.",
        "operationId": "seoKeywordResearch",
        "tags": [
          "SEO"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "keyword"
                ],
                "properties": {
                  "keyword": {
                    "type": "string",
                    "description": "Seed keyword to expand."
                  },
                  "location": {
                    "type": "string",
                    "default": "United States",
                    "description": "Market location name."
                  },
                  "language": {
                    "type": "string",
                    "default": "en",
                    "description": "Language code."
                  },
                  "limit": {
                    "type": "integer",
                    "minimum": 5,
                    "maximum": 50,
                    "default": 20,
                    "description": "Max keywords to return."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Keyword suggestions with volume, CPC and competition",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "keywords": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "keyword": {
                                "type": "string"
                              },
                              "volume": {
                                "type": "integer"
                              },
                              "cpc": {
                                "type": "number"
                              },
                              "competition": {
                                "type": "number"
                              }
                            }
                          }
                        },
                        "seed": {
                          "type": "string"
                        },
                        "location": {
                          "type": "string"
                        },
                        "total_found": {
                          "type": "integer"
                        }
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/RequestMeta"
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": {
                    "keywords": [
                      {
                        "keyword": "seo software",
                        "volume": 18100,
                        "cpc": 12.4,
                        "competition": 0.78
                      },
                      {
                        "keyword": "best seo tools",
                        "volume": 8100,
                        "cpc": 9.2,
                        "competition": 0.65
                      }
                    ],
                    "seed": "seo tools",
                    "location": "United States",
                    "total_found": 2
                  },
                  "meta": {
                    "request_id": "req_1a2b3c4d",
                    "timestamp": "2026-07-01T12:00:00Z"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/InsufficientBalance"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/seo/serp": {
      "post": {
        "summary": "Live SERP lookup",
        "description": "Live Google organic SERP for a keyword: ranked results, SERP features and People Also Ask.",
        "operationId": "seoSerp",
        "tags": [
          "SEO"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "keyword"
                ],
                "properties": {
                  "keyword": {
                    "type": "string",
                    "description": "Keyword to look up."
                  },
                  "location": {
                    "type": "string",
                    "default": "United States",
                    "description": "Market location name."
                  },
                  "language": {
                    "type": "string",
                    "default": "en",
                    "description": "Language code."
                  },
                  "device": {
                    "type": "string",
                    "enum": [
                      "desktop",
                      "mobile"
                    ],
                    "default": "desktop",
                    "description": "Device."
                  },
                  "depth": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 100,
                    "default": 10,
                    "description": "Number of results to fetch."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Organic SERP results plus SERP features",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "results": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "position": {
                                "type": "integer"
                              },
                              "title": {
                                "type": "string"
                              },
                              "url": {
                                "type": "string"
                              },
                              "description": {
                                "type": "string"
                              },
                              "domain": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "keyword": {
                          "type": "string"
                        },
                        "location": {
                          "type": "string"
                        },
                        "serp_features": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "people_also_ask": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/RequestMeta"
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": {
                    "results": [
                      {
                        "position": 1,
                        "title": "Best SEO Tools (2026)",
                        "url": "https://example.com/seo-tools",
                        "description": "Compare the top SEO tools for 2026.",
                        "domain": "example.com"
                      }
                    ],
                    "keyword": "seo tools",
                    "location": "United States",
                    "serp_features": [
                      "featured_snippet",
                      "people_also_ask"
                    ],
                    "people_also_ask": [
                      "What is the best SEO tool?",
                      "Are SEO tools worth it?"
                    ]
                  },
                  "meta": {
                    "request_id": "req_1a2b3c4d",
                    "timestamp": "2026-07-01T12:00:00Z"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/InsufficientBalance"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/seo/keyword-difficulty": {
      "post": {
        "summary": "Keyword difficulty",
        "description": "Bulk keyword difficulty scores (0-100) for a list of keywords.",
        "operationId": "seoKeywordDifficulty",
        "tags": [
          "SEO"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "keywords"
                ],
                "properties": {
                  "keywords": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "minItems": 1,
                    "description": "Keywords to score."
                  },
                  "location": {
                    "type": "string",
                    "default": "United States",
                    "description": "Market location name."
                  },
                  "language": {
                    "type": "string",
                    "default": "en",
                    "description": "Language code."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Difficulty score per keyword",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "difficulty": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "integer"
                          },
                          "description": "Map of keyword -> difficulty score (0-100)."
                        }
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/RequestMeta"
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": {
                    "difficulty": {
                      "seo tools": 67,
                      "keyword research": 54
                    }
                  },
                  "meta": {
                    "request_id": "req_1a2b3c4d",
                    "timestamp": "2026-07-01T12:00:00Z"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/InsufficientBalance"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/seo/ranked-keywords": {
      "post": {
        "summary": "Ranked keywords (rank tracking)",
        "description": "Every keyword a domain ranks for, with position, search volume and estimated traffic.",
        "operationId": "seoRankedKeywords",
        "tags": [
          "SEO"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "target"
                ],
                "properties": {
                  "target": {
                    "type": "string",
                    "description": "Domain to inspect, e.g. example.com."
                  },
                  "location": {
                    "type": "string",
                    "default": "United States",
                    "description": "Market location name."
                  },
                  "language": {
                    "type": "string",
                    "default": "en",
                    "description": "Language code."
                  },
                  "limit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 200,
                    "default": 50,
                    "description": "Max keywords to return."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ranked keywords with position, volume and ETV",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "target": {
                          "type": "string"
                        },
                        "keywords": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "keyword": {
                                "type": "string"
                              },
                              "position": {
                                "type": "integer"
                              },
                              "url": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string"
                              },
                              "search_volume": {
                                "type": "integer"
                              },
                              "cpc": {
                                "type": "number"
                              },
                              "etv": {
                                "type": "number"
                              }
                            }
                          }
                        }
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/RequestMeta"
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": {
                    "target": "example.com",
                    "keywords": [
                      {
                        "keyword": "seo tools",
                        "position": 3,
                        "url": "https://example.com/seo-tools",
                        "type": "organic",
                        "search_volume": 18100,
                        "cpc": 12.4,
                        "etv": 2450.5
                      }
                    ]
                  },
                  "meta": {
                    "request_id": "req_1a2b3c4d",
                    "timestamp": "2026-07-01T12:00:00Z"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/InsufficientBalance"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/seo/domain-overview": {
      "post": {
        "summary": "Domain rank overview",
        "description": "Organic rank overview for a domain: estimated keyword count, traffic value and position buckets.",
        "operationId": "seoDomainOverview",
        "tags": [
          "SEO"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "target"
                ],
                "properties": {
                  "target": {
                    "type": "string",
                    "description": "Domain to inspect, e.g. example.com."
                  },
                  "location": {
                    "type": "string",
                    "default": "United States",
                    "description": "Market location name."
                  },
                  "language": {
                    "type": "string",
                    "default": "en",
                    "description": "Language code."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Organic overview metrics",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "target": {
                          "type": "string"
                        },
                        "overview": {
                          "type": "object",
                          "properties": {
                            "organic_keywords": {
                              "type": "integer"
                            },
                            "organic_etv": {
                              "type": "number"
                            },
                            "pos_1": {
                              "type": "integer"
                            },
                            "pos_2_3": {
                              "type": "integer"
                            },
                            "pos_4_10": {
                              "type": "integer"
                            },
                            "pos_11_20": {
                              "type": "integer"
                            },
                            "is_new": {
                              "type": "integer"
                            },
                            "is_up": {
                              "type": "integer"
                            },
                            "is_down": {
                              "type": "integer"
                            }
                          }
                        }
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/RequestMeta"
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": {
                    "target": "example.com",
                    "overview": {
                      "organic_keywords": 12500,
                      "organic_etv": 48230.7,
                      "pos_1": 320,
                      "pos_2_3": 540,
                      "pos_4_10": 2100,
                      "pos_11_20": 3800,
                      "is_new": 45,
                      "is_up": 210,
                      "is_down": 130
                    }
                  },
                  "meta": {
                    "request_id": "req_1a2b3c4d",
                    "timestamp": "2026-07-01T12:00:00Z"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/InsufficientBalance"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/seo/competitors": {
      "post": {
        "summary": "Organic competitors",
        "description": "Domains overlapping a target on shared keywords, with common-keyword counts and traffic.",
        "operationId": "seoCompetitors",
        "tags": [
          "SEO"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "target"
                ],
                "properties": {
                  "target": {
                    "type": "string",
                    "description": "Domain to inspect, e.g. example.com."
                  },
                  "location": {
                    "type": "string",
                    "default": "United States",
                    "description": "Market location name."
                  },
                  "language": {
                    "type": "string",
                    "default": "en",
                    "description": "Language code."
                  },
                  "limit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 50,
                    "default": 10,
                    "description": "Max competitors to return."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Competitor domains with overlap metrics",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "target": {
                          "type": "string"
                        },
                        "competitors": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "domain": {
                                "type": "string"
                              },
                              "common_keywords": {
                                "type": "integer"
                              },
                              "organic_keywords": {
                                "type": "integer"
                              },
                              "organic_etv": {
                                "type": "number"
                              }
                            }
                          }
                        }
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/RequestMeta"
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": {
                    "target": "example.com",
                    "competitors": [
                      {
                        "domain": "rival.com",
                        "common_keywords": 1840,
                        "organic_keywords": 22500,
                        "organic_etv": 75200
                      }
                    ]
                  },
                  "meta": {
                    "request_id": "req_1a2b3c4d",
                    "timestamp": "2026-07-01T12:00:00Z"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/InsufficientBalance"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/seo/backlinks-summary": {
      "post": {
        "summary": "Backlink profile summary",
        "description": "Backlink profile summary for a domain: authority rank, totals, referring domains, broken links and link types.",
        "operationId": "seoBacklinksSummary",
        "tags": [
          "SEO"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "target"
                ],
                "properties": {
                  "target": {
                    "type": "string",
                    "description": "Domain or URL to inspect."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Backlink profile summary",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "target": {
                          "type": "string"
                        },
                        "summary": {
                          "type": "object",
                          "properties": {
                            "rank": {
                              "type": "integer"
                            },
                            "backlinks": {
                              "type": "integer"
                            },
                            "referring_domains": {
                              "type": "integer"
                            },
                            "referring_main_domains": {
                              "type": "integer"
                            },
                            "broken_backlinks": {
                              "type": "integer"
                            },
                            "referring_links_types": {
                              "type": "object"
                            },
                            "referring_links_attributes": {
                              "type": "object"
                            }
                          }
                        }
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/RequestMeta"
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": {
                    "target": "example.com",
                    "summary": {
                      "rank": 412,
                      "backlinks": 185400,
                      "referring_domains": 3120,
                      "referring_main_domains": 2850,
                      "broken_backlinks": 240,
                      "referring_links_types": {
                        "anchor": 150000,
                        "image": 35400
                      },
                      "referring_links_attributes": {
                        "nofollow": 42000,
                        "dofollow": 143400
                      }
                    }
                  },
                  "meta": {
                    "request_id": "req_1a2b3c4d",
                    "timestamp": "2026-07-01T12:00:00Z"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/InsufficientBalance"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/seo/audit": {
      "post": {
        "summary": "On-page SEO audit",
        "description": "Instant on-page SEO audit for a single URL: on-page score and flagged checks.",
        "operationId": "seoAudit",
        "tags": [
          "SEO"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "url"
                ],
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "description": "Full page URL to audit."
                  },
                  "max_pages": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 50,
                    "default": 10,
                    "description": "Max pages to crawl."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "On-page audit result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "url": {
                          "type": "string"
                        },
                        "audit": {
                          "type": "object",
                          "properties": {
                            "crawl_progress": {
                              "type": "string"
                            },
                            "pages_crawled": {
                              "type": "integer"
                            },
                            "pages_with_errors": {
                              "type": "integer"
                            },
                            "onpage_score": {
                              "type": "number"
                            },
                            "checks": {
                              "type": "object"
                            }
                          }
                        }
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/RequestMeta"
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": {
                    "url": "https://example.com/page",
                    "audit": {
                      "crawl_progress": "finished",
                      "pages_crawled": 1,
                      "pages_with_errors": 0,
                      "onpage_score": 92.5,
                      "checks": {
                        "no_title": false,
                        "no_description": false,
                        "low_content_rate": false
                      }
                    }
                  },
                  "meta": {
                    "request_id": "req_1a2b3c4d",
                    "timestamp": "2026-07-01T12:00:00Z"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/InsufficientBalance"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/seo/backlink-prospects": {
      "post": {
        "summary": "Backlink prospects (link gap)",
        "description": "Find link-building prospects: referring domains that link to competitors of the target but not to the target itself.",
        "operationId": "seoBacklinkProspects",
        "tags": [
          "SEO"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "target"
                ],
                "properties": {
                  "target": {
                    "type": "string",
                    "description": "Your domain, e.g. example.com."
                  },
                  "limit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 100,
                    "default": 10,
                    "description": "Max prospects to return."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Backlink prospects (link gap)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "target": {
                          "type": "string"
                        },
                        "competitors": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "domain": {
                                "type": "string"
                              },
                              "rank": {
                                "type": "integer"
                              },
                              "intersections": {
                                "type": "integer"
                              }
                            }
                          }
                        },
                        "prospects": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "referring_domain": {
                                "type": "string"
                              },
                              "rank": {
                                "type": "integer"
                              },
                              "links_to_competitors": {
                                "type": "integer"
                              },
                              "example_source_url": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/RequestMeta"
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": {
                    "target": "example.com",
                    "competitors": [
                      {
                        "domain": "rival.com",
                        "rank": 412,
                        "intersections": 340
                      }
                    ],
                    "prospects": [
                      {
                        "referring_domain": "authority-blog.com",
                        "rank": 520,
                        "links_to_competitors": 3,
                        "example_source_url": "https://authority-blog.com/best-tools"
                      }
                    ]
                  },
                  "meta": {
                    "request_id": "req_1a2b3c4d",
                    "timestamp": "2026-07-01T12:00:00Z"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/InsufficientBalance"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/seo/referring-domains": {
      "post": {
        "summary": "Referring domains",
        "description": "List the top referring domains for a domain by authority, with backlink counts, first-seen date and dofollow counts.",
        "operationId": "seoReferringDomains",
        "tags": [
          "SEO"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "target"
                ],
                "properties": {
                  "target": {
                    "type": "string",
                    "description": "Domain or URL to inspect."
                  },
                  "limit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 100,
                    "default": 20,
                    "description": "Max referring domains."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Referring domains",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "target": {
                          "type": "string"
                        },
                        "domains": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "domain": {
                                "type": "string"
                              },
                              "rank": {
                                "type": "integer"
                              },
                              "backlinks": {
                                "type": "integer"
                              },
                              "first_seen": {
                                "type": "string"
                              },
                              "dofollow": {
                                "type": "integer"
                              }
                            }
                          }
                        }
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/RequestMeta"
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": {
                    "target": "example.com",
                    "domains": [
                      {
                        "domain": "techblog.com",
                        "rank": 480,
                        "backlinks": 1200,
                        "first_seen": "2024-03-12",
                        "dofollow": 1100
                      }
                    ]
                  },
                  "meta": {
                    "request_id": "req_1a2b3c4d",
                    "timestamp": "2026-07-01T12:00:00Z"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/InsufficientBalance"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/seo/backlink-anchors": {
      "post": {
        "summary": "Backlink anchors",
        "description": "List the top backlink anchor texts for a domain, with backlink and referring-domain counts.",
        "operationId": "seoBacklinkAnchors",
        "tags": [
          "SEO"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "target"
                ],
                "properties": {
                  "target": {
                    "type": "string",
                    "description": "Domain or URL to inspect."
                  },
                  "limit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 100,
                    "default": 20,
                    "description": "Max anchors."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Backlink anchors",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "target": {
                          "type": "string"
                        },
                        "anchors": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "anchor": {
                                "type": "string"
                              },
                              "backlinks": {
                                "type": "integer"
                              },
                              "referring_domains": {
                                "type": "integer"
                              }
                            }
                          }
                        }
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/RequestMeta"
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": {
                    "target": "example.com",
                    "anchors": [
                      {
                        "anchor": "seo tools",
                        "backlinks": 5400,
                        "referring_domains": 320
                      }
                    ]
                  },
                  "meta": {
                    "request_id": "req_1a2b3c4d",
                    "timestamp": "2026-07-01T12:00:00Z"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/InsufficientBalance"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/seo/spam-score": {
      "post": {
        "summary": "Backlink spam score",
        "description": "Get the backlink spam/toxicity score (0-100) for one or more domains.",
        "operationId": "seoSpamScore",
        "tags": [
          "SEO"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "targets"
                ],
                "properties": {
                  "targets": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "minItems": 1,
                    "description": "Domains to score."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Backlink spam score",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "spam": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "integer"
                          },
                          "description": "Map of domain -> spam score (0-100)."
                        }
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/RequestMeta"
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": {
                    "spam": {
                      "example.com": 12,
                      "spammy-site.net": 78
                    }
                  },
                  "meta": {
                    "request_id": "req_1a2b3c4d",
                    "timestamp": "2026-07-01T12:00:00Z"
                  }
                }
              }
            }
          },
          "401": {
[...]
