openapi: 3.1.0

info:
  title: SmartlyQ API
  version: 1.0.0
  description: |
    # SmartlyQ API

    REST API for the SmartlyQ platform: generate content, manage social posts, chatbots, media, and more.

    ## Quick Start

    1. Get an API key from [smartlyq.com/my/developer](https://smartlyq.com/my/developer).
    2. Send your first request:

    ```bash
    curl -H "Authorization: Bearer YOUR_API_KEY" https://api.smartlyq.com/v1/me
    ```

    ## Authentication

    All requests (except health/docs) require a **Bearer token**. Use your API key as the token:

    - **Key types:** `sqk_live_*` (live) or `sqk_test_*` (test/sandbox).
    - **Header:** `Authorization: Bearer sqk_live_xxxx` or `Authorization: Bearer sqk_test_xxxx`.

    | Scope | Description |
    |-------|-------------|
    | `articles:read` | List and get articles |
    | `articles:write` | Generate, delete articles |
    | `images:read` | List and get images |
    | `images:write` | Generate, delete images |
    | `videos:read` | List and get videos |
    | `videos:write` | Generate, delete videos |
    | `social:read` | List accounts and posts |
    | `social:write` | Create, update, delete posts |
    | `audio:read` | Get audio resources |
    | `audio:write` | Text-to-speech, speech-to-text |
    | `urls:read` | List and get short URLs and stats |
    | `urls:write` | Shorten, delete URLs |
    | `captain:use` | AI Captain messages and conversations |
    | `chatbot:use` | Chatbots, train, messages, conversations |
    | `media:read` | List and get media |
    | `media:write` | Upload, delete media |
    | `analytics:read` | Overview, posts, account analytics |
    | `jobs:read` | List and get async jobs, cancel |

    ## Billing & Credits

    - **Prepaid wallet:** API usage is deducted from your Developer API wallet (credits in SQC).
    - **Pricing:** See the [pricing table](https://smartlyq.com/pricing) and in-app Developer dashboard for per-operation costs.
    - **How it works:** Each billable request (e.g. generate, post, chatbot message) consumes credits; response may include `usage` with `cost` and `balance_remaining`.
    - **Top up:** Add credits via [smartlyq.com/my/developer](https://smartlyq.com/my/developer) (wallet / top-up).

    ## Rate Limiting

    Limits apply per API key (and may be enforced per user or IP). Default is 60 requests per minute per key (overridable per key).

    Response headers:

    | Header | Description |
    |--------|-------------|
    | `X-RateLimit-Limit` | Max requests per window |
    | `X-RateLimit-Remaining` | Remaining in current window |
    | `X-RateLimit-Reset` | Unix timestamp when the window resets |

    When exceeded: HTTP `429` with `Retry-After` header.

    ## Errors

    Errors are JSON with a consistent shape:

    ```json
    {
      "success": false,
      "error": {
        "code": "ERROR_CODE",
        "message": "Human-readable message",
        "details": {}
      },
      "meta": { "request_id": "...", "timestamp": "..." }
    }
    ```

    | HTTP | Code | Meaning |
    |-----|------|---------|
    | 400 | `BAD_REQUEST` | Malformed or invalid request |
    | 401 | `UNAUTHORIZED` | Missing or invalid API key |
    | 402 | `INSUFFICIENT_BALANCE` | Not enough credits |
    | 403 | `FORBIDDEN` | Valid key but insufficient scope or access |
    | 404 | `RESOURCE_NOT_FOUND` | Resource does not exist |
    | 409 | `CONFLICT` | Conflict (e.g. duplicate idempotency) |
    | 422 | `VALIDATION_ERROR` | Validation failed (fields in details) |
    | 429 | `RATE_LIMIT_EXCEEDED` | Too many requests |
    | 500 | `INTERNAL_ERROR` | Server error |

    ## Async Jobs & Polling

    Some operations (e.g. article or video generation) return **HTTP 202 Accepted** with a `job_id`. Poll for status:

    - **Poll:** `GET /jobs/{job_id}` until `status` is `completed`, `failed`, or `cancelled`.
    - Response includes `result` or `error` when finished.

    ## Webhooks

    Configure webhook URLs in the Developer dashboard. We send HTTP POST to your URL with a signed payload.

    - **Verification:** Validate signature using your webhook secret (see dashboard).
    - **Events:** e.g. `job.completed`, `job.failed`, `chatbot.conversation.ended`.

    ## Idempotency

    For POST/PUT/PATCH, send **`X-Idempotency-Key`** (unique value per logical operation). Within 24 hours, the same key returns the same response without re-executing.

    ## Pagination

    - **Offset:** `page` (1-based) and `per_page` (default 20, max 100).
    - **Cursor:** Some list endpoints support `cursor` and `limit` for cursor-based pagination. Response includes `pagination.next_cursor` when more data is available.

    ## Versioning

    Current version is **v1**. Base path: `https://api.smartlyq.com/v1`. Future versions will use new path prefixes (e.g. `/v2/`).

  contact:
    name: SmartlyQ Support
    url: https://smartlyq.com
    email: support@smartlyq.com
  license:
    name: Proprietary
    url: https://smartlyq.com/terms

servers:
  - url: https://api.smartlyq.com/v1
    description: Production

security:
  - BearerAuth: []

tags:
  - name: Articles
    description: Long-form article generation and management
  - name: Images
    description: AI image generation and listing
  - name: Videos
    description: AI video generation and listing
  - name: Social
    description: Social accounts and post scheduling
  - name: Content
    description: Content rewriting
  - name: Audio
    description: Text-to-speech and speech-to-text
  - name: URLs
    description: URL shortening and analytics
  - name: AI Captain
    description: AI Captain conversations
  - name: Chatbot
    description: Chatbots, training, and conversations
  - name: Media
    description: Media library and uploads
  - name: Analytics
    description: Analytics overview and reports
  - name: Jobs
    description: Async job status and cancellation
  - name: Account
    description: Current user, usage, and balance

paths:
  /articles/generate:
    post:
      summary: Generate article
      description: Start article generation. Returns 202 with job_id; poll GET /jobs/{job_id} for result.
      operationId: generateArticle
      tags: [Articles]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ArticleGenerateRequest'
      responses:
        '202':
          description: Accepted; poll job for result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobCreatedResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/InsufficientBalance'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/ServerError'

  /articles:
    get:
      summary: List articles
      operationId: listArticles
      tags: [Articles]
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PerPageParam'
        - name: status
          in: query
          schema:
            type: string
            enum: [draft, published]
        - name: search
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Paginated list of articles
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArticleListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/ServerError'

  /articles/{article_id}:
    get:
      summary: Get article
      operationId: getArticle
      tags: [Articles]
      parameters:
        - $ref: '#/components/parameters/ArticleIdParam'
      responses:
        '200':
          description: Single article
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArticleSingleResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
    delete:
      summary: Delete article
      operationId: deleteArticle
      tags: [Articles]
      parameters:
        - $ref: '#/components/parameters/ArticleIdParam'
      responses:
        '200':
          description: Deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /images/generate:
    post:
      summary: Generate image
      description: May return 202 with job_id for async generation; otherwise 201 with image.
      operationId: generateImage
      tags: [Images]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImageGenerateRequest'
      responses:
        '201':
          description: Image created (sync)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImageSingleResponse'
        '202':
          description: Accepted; poll job for result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobCreatedResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/InsufficientBalance'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/ServerError'

  /images:
    get:
      summary: List images
      operationId: listImages
      tags: [Images]
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PerPageParam'
      responses:
        '200':
          description: Paginated list of images
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImageListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/ServerError'

  /images/{image_id}:
    get:
      summary: Get image
      operationId: getImage
      tags: [Images]
      parameters:
        - $ref: '#/components/parameters/ImageIdParam'
      responses:
        '200':
          description: Single image
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImageSingleResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
    delete:
      summary: Delete image
      operationId: deleteImage
      tags: [Images]
      parameters:
        - $ref: '#/components/parameters/ImageIdParam'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /videos/generate:
    post:
      summary: Generate video
      description: Returns 202 with job_id; poll GET /jobs/{job_id} for result.
      operationId: generateVideo
      tags: [Videos]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VideoGenerateRequest'
      responses:
        '202':
          description: Accepted; poll job for result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobCreatedResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/InsufficientBalance'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/ServerError'

  /videos:
    get:
      summary: List videos
      operationId: listVideos
      tags: [Videos]
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PerPageParam'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/ServerError'

  /videos/{video_id}:
    get:
      summary: Get video
      operationId: getVideo
      tags: [Videos]
      parameters:
        - $ref: '#/components/parameters/VideoIdParam'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoSingleResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
    delete:
      summary: Delete video
      operationId: deleteVideo
      tags: [Videos]
      parameters:
        - $ref: '#/components/parameters/VideoIdParam'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /social/accounts:
    get:
      summary: List social accounts
      operationId: listSocialAccounts
      tags: [Social]
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PerPageParam'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SocialAccountListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/ServerError'

  /social/posts:
    post:
      summary: Create post (publish immediately)
      operationId: createSocialPost
      tags: [Social]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SocialPostCreateRequest'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SocialPostResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/InsufficientBalance'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/ServerError'
    get:
      summary: List social posts
      operationId: listSocialPosts
      tags: [Social]
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PerPageParam'
        - name: status
          in: query
          schema:
            type: string
            enum: [scheduled, published, failed]
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SocialPostListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/ServerError'

  /social/posts/schedule:
    post:
      summary: Schedule post
      operationId: scheduleSocialPost
      tags: [Social]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SocialPostCreateRequest'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SocialPostResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/InsufficientBalance'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/ServerError'

  /social/posts/{post_id}:
    get:
      summary: Get social post
      operationId: getSocialPost
      tags: [Social]
      parameters:
        - $ref: '#/components/parameters/PostIdParam'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SocialPostSingleResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
    patch:
      summary: Update social post
      operationId: updateSocialPost
      tags: [Social]
      parameters:
        - $ref: '#/components/parameters/PostIdParam'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                content:
                  type: string
                scheduled_at:
                  type: string
                  format: date-time
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SocialPostSingleResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/ServerError'
    delete:
      summary: Delete social post
      operationId: deleteSocialPost
      tags: [Social]
      parameters:
        - $ref: '#/components/parameters/PostIdParam'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /content/rewrite:
    post:
      summary: Rewrite content
      operationId: rewriteContent
      tags: [Content]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContentRewriteRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentRewriteResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/InsufficientBalance'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/ServerError'

  /audio/text-to-speech:
    post:
      summary: Text to speech
      operationId: textToSpeech
      tags: [Audio]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TextToSpeechRequest'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudioSingleResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/InsufficientBalance'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/ServerError'

  /audio/speech-to-text:
    post:
      summary: Speech to text
      operationId: speechToText
      tags: [Audio]
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/SpeechToTextRequest'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudioSingleResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/InsufficientBalance'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/ServerError'

  /audio/{audio_id}:
    get:
      summary: Get audio
      operationId: getAudio
      tags: [Audio]
      parameters:
        - $ref: '#/components/parameters/AudioIdParam'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudioSingleResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /urls/shorten:
    post:
      summary: Shorten URL
      operationId: shortenUrl
      tags: [URLs]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UrlShortenRequest'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UrlSingleResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/InsufficientBalance'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/ServerError'

  /urls:
    get:
      summary: List short URLs
      operationId: listUrls
      tags: [URLs]
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PerPageParam'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UrlListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/ServerError'

  /urls/{url_id}:
    get:
      summary: Get short URL
      operationId: getUrl
      tags: [URLs]
      parameters:
        - $ref: '#/components/parameters/UrlIdParam'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UrlSingleResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
    delete:
      summary: Delete short URL
      operationId: deleteUrl
      tags: [URLs]
      parameters:
        - $ref: '#/components/parameters/UrlIdParam'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /urls/{url_id}/stats:
    get:
      summary: Get short URL stats
      operationId: getUrlStats
      tags: [URLs]
      parameters:
        - $ref: '#/components/parameters/UrlIdParam'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UrlStatsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /captain/messages:
    post:
      summary: Send AI Captain message
      operationId: sendCaptainMessage
      tags: [AI Captain]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CaptainMessageRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CaptainMessageResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/InsufficientBalance'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/ServerError'

  /captain/conversations:
    get:
      summary: List AI Captain conversations
      operationId: listCaptainConversations
      tags: [AI Captain]
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PerPageParam'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversationListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/ServerError'

  /captain/conversations/{conversation_id}:
    get:
      summary: Get AI Captain conversation
      operationId: getCaptainConversation
      tags: [AI Captain]
      parameters:
        - $ref: '#/components/parameters/ConversationIdParam'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversationSingleResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /chatbots:
    post:
      summary: Create chatbot
      operationId: createChatbot
      tags: [Chatbot]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                config:
                  type: object
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/ServerError'
    get:
      summary: List chatbots
      operationId: listChatbots
      tags: [Chatbot]
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PerPageParam'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedList'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/ServerError'

  /chatbots/{id}:
    get:
      summary: Get chatbot
      operationId: getChatbot
      tags: [Chatbot]
      parameters:
        - $ref: '#/components/parameters/ChatbotIdParam'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
    patch:
      summary: Update chatbot
      operationId: updateChatbot
      tags: [Chatbot]
      parameters:
        - $ref: '#/components/parameters/ChatbotIdParam'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                config:
                  type: object
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/ServerError'
    delete:
      summary: Delete chatbot
      operationId: deleteChatbot
      tags: [Chatbot]
      parameters:
        - $ref: '#/components/parameters/ChatbotIdParam'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /chatbots/{id}/train:
    post:
      summary: Start chatbot training
      operationId: trainChatbot
      tags: [Chatbot]
      parameters:
        - $ref: '#/components/parameters/ChatbotIdParam'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                sources:
                  type: array
                  items:
                    type: object
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /chatbots/{id}/train-status:
    get:
      summary: Get chatbot training status
      operationId: getChatbotTrainStatus
      tags: [Chatbot]
      parameters:
        - $ref: '#/components/parameters/ChatbotIdParam'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /chatbots/{id}/messages:
    post:
      summary: Send chatbot message
      operationId: sendChatbotMessage
      tags: [Chatbot]
      parameters:
        - $ref: '#/components/parameters/ChatbotIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [message]
              properties:
                message:
                  type: string
                conversation_id:
                  type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/InsufficientBalance'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/ServerError'

  /chatbots/{id}/conversations:
    get:
      summary: List chatbot conversations
      operationId: listChatbotConversations
      tags: [Chatbot]
      parameters:
        - $ref: '#/components/parameters/ChatbotIdParam'
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PerPageParam'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedList'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /chatbots/{id}/conversations/{conv_id}/messages:
    get:
      summary: Get conversation messages
      operationId: getChatbotConversationMessages
      tags: [Chatbot]
      parameters:
        - $ref: '#/components/parameters/ChatbotIdParam'
        - $ref: '#/components/parameters/ConvIdParam'
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PerPageParam'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedList'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /media:
    get:
      summary: List media
      operationId: listMedia
      tags: [Media]
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PerPageParam'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MediaListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/ServerError'

  /media/{media_id}:
    get:
      summary: Get media
      operationId: getMedia
      tags: [Media]
      parameters:
        - $ref: '#/components/parameters/MediaIdParam'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MediaSingleResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
    delete:
      summary: Delete media
      operationId: deleteMedia
      tags: [Media]
      parameters:
        - $ref: '#/components/parameters/MediaIdParam'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /media/upload-url:
    post:
      summary: Get presigned upload URL
      operationId: getMediaUploadUrl
      tags: [Media]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MediaUploadUrlRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MediaUploadUrlResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/ServerError'

  /analytics/overview:
    get:
      summary: Get analytics overview
      operationId: getAnalyticsOverview
      tags: [Analytics]
      parameters:
        - name: from
          in: query
          schema:
            type: string
            format: date
        - name: to
          in: query
          schema:
            type: string
            format: date
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/ServerError'

  /analytics/posts:
    get:
      summary: Get post analytics
      operationId: getAnalyticsPosts
      tags: [Analytics]
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PerPageParam'
        - name: from
          in: query
          schema:
            type: string
            format: date
        - name: to
          in: query
          schema:
            type: string
            format: date
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/ServerError'

  /analytics/accounts/{account_id}:
    get:
      summary: Get account analytics
      operationId: getAnalyticsAccount
      tags: [Analytics]
      parameters:
        - $ref: '#/components/parameters/AccountIdParam'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /jobs:
    get:
      summary: List jobs
      operationId: listJobs
      tags: [Jobs]
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PerPageParam'
        - name: status
          in: query
          schema:
            type: string
            enum: [pending, processing, completed, failed, cancelled]
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/ServerError'

  /jobs/{job_id}:
    get:
      summary: Get job
      operationId: getJob
      tags: [Jobs]
      parameters:
        - $ref: '#/components/parameters/JobIdParam'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobSingleResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

  /jobs/{job_id}/cancel:
    post:
      summary: Cancel job
      operationId: cancelJob
      tags: [Jobs]
      parameters:
        - $ref: '#/components/parameters/JobIdParam'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobSingleResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/ServerError'

  /me:
    get:
      summary: Get current user profile
      operationId: getMe
      tags: [Account]
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfileResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/ServerError'

  /me/usage:
    get:
      summary: Get usage summary
      operationId: getMeUsage
      tags: [Account]
      parameters:
        - name: from
          in: query
          schema:
            type: string
            format: date
        - name: to
          in: query
          schema:
            type: string
            format: date
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsageSummaryResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/ServerError'

  /me/balance:
    get:
      summary: Get wallet balance
      operationId: getMeBalance
      tags: [Account]
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BalanceResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/ServerError'

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: sqk_live_* or sqk_test_*
      description: API key from Developer dashboard (Bearer token).

  parameters:
    PageParam:
      name: page
      in: query
      description: Page number (1-based).
      schema:
        type: integer
        minimum: 1
        default: 1
    PerPageParam:
      name: per_page
      in: query
      description: Items per page.
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20
    CursorParam:
      name: cursor
      in: query
      description: Cursor for pagination.
      schema:
        type: string
    LimitParam:
      name: limit
      in: query
      description: Max items (cursor-based).
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20
    SortParam:
      name: sort
      in: query
      description: Sort field and direction (e.g. created_at:desc).
      schema:
        type: string
    ArticleIdParam:
      name: article_id
      in: path
      required: true
      schema:
        type: integer
        format: int64
    ImageIdParam:
      name: image_id
      in: path
      required: true
      schema:
        type: integer
        format: int64
    VideoIdParam:
      name: video_id
      in: path
      required: true
      schema:
        type: integer
        format: int64
    PostIdParam:
      name: post_id
      in: path
      required: true
      schema:
        type: integer
        format: int64
    AudioIdParam:
      name: audio_id
      in: path
      required: true
      schema:
        type: integer
        format: int64
    UrlIdParam:
      name: url_id
      in: path
      required: true
      schema:
        type: integer
        format: int64
    ConversationIdParam:
      name: conversation_id
      in: path
      required: true
      schema:
        type: string
    ChatbotIdParam:
      name: id
      in: path
      required: true
      description: Chatbot ID.
      schema:
        type: string
    ConvIdParam:
      name: conv_id
      in: path
      required: true
      description: Conversation ID.
      schema:
        type: string
    MediaIdParam:
      name: media_id
      in: path
      required: true
      schema:
        type: string
    AccountIdParam:
      name: account_id
      in: path
      required: true
      schema:
        type: string
    JobIdParam:
      name: job_id
      in: path
      required: true
      schema:
        type: string

  headers:
    X-RateLimit-Limit:
      description: Max requests per window.
      schema:
        type: integer
    X-RateLimit-Remaining:
      description: Remaining requests in window.
      schema:
        type: integer
    X-RateLimit-Reset:
      description: Unix timestamp when window resets.
      schema:
        type: integer
    X-Request-ID:
      description: Request ID for support.
      schema:
        type: string

  responses:
    BadRequest:
      description: Bad request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: Missing or invalid API key
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    InsufficientBalance:
      description: Insufficient credits
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Forbidden:
      description: Forbidden (scope or access)
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Conflict:
      description: Conflict (e.g. duplicate idempotency)
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    ValidationError:
      description: Validation error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    RateLimited:
      description: Rate limit exceeded
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    ServerError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

  schemas:
    RequestMeta:
      type: object
      properties:
        request_id:
          type: string
        timestamp:
          type: string
          format: date-time
    UsageMeta:
      type: object
      properties:
        units:
          type: integer
        cost:
          type: string
        balance_remaining:
          type: string
    PaginationMeta:
      type: object
      properties:
        page:
          type: integer
        per_page:
          type: integer
        total:
          type: integer
        total_pages:
          type: integer
        next_cursor:
          type: string
    ErrorResponse:
      type: object
      properties:
        success:
          type: boolean
          enum: [false]
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
            details:
              type: object
        meta:
          $ref: '#/components/schemas/RequestMeta'
    DeleteResponse:
      type: object
      properties:
        success:
          type: boolean
          enum: [true]
        data:
          type: object
          properties:
            deleted:
              type: boolean
        meta:
          $ref: '#/components/schemas/RequestMeta'
    SuccessEnvelope:
      type: object
      properties:
        success:
          type: boolean
          enum: [true]
        data: {}
        usage:
          $ref: '#/components/schemas/UsageMeta'
        meta:
          $ref: '#/components/schemas/RequestMeta'
    PaginatedList:
      type: object
      properties:
        success:
          type: boolean
          enum: [true]
        data:
          type: array
          items: {}
        pagination:
          $ref: '#/components/schemas/PaginationMeta'
        meta:
          $ref: '#/components/schemas/RequestMeta'

    ArticleGenerateRequest:
      type: object
      properties:
        topic:
          type: string
        keywords:
          type: string
        tone:
          type: string
        length:
          type: string
        language:
          type: string
        format:
          type: string
        instructions:
          type: string
    Article:
      type: object
      properties:
        id:
          type: integer
          format: int64
        title:
          type: string
        content:
          type: string
        status:
          type: string
        created_at:
          type: string
          format: date-time
    ArticleListResponse:
      type: object
      properties:
        success:
          type: boolean
          enum: [true]
        data:
          type: array
          items:
            $ref: '#/components/schemas/Article'
        pagination:
          $ref: '#/components/schemas/PaginationMeta'
        meta:
          $ref: '#/components/schemas/RequestMeta'
    ArticleSingleResponse:
      type: object
      properties:
        success:
          type: boolean
          enum: [true]
        data:
          $ref: '#/components/schemas/Article'
        meta:
          $ref: '#/components/schemas/RequestMeta'

    ImageGenerateRequest:
      type: object
      properties:
        prompt:
          type: string
        model:
          type: string
        size:
          type: string
        n:
          type: integer
    Image:
      type: object
      properties:
        id:
          type: integer
          format: int64
        url:
          type: string
        prompt:
          type: string
        created_at:
          type: string
          format: date-time
    ImageListResponse:
      type: object
      properties:
        success:
          type: boolean
          enum: [true]
        data:
          type: array
          items:
            $ref: '#/components/schemas/Image'
        pagination:
          $ref: '#/components/schemas/PaginationMeta'
        meta:
          $ref: '#/components/schemas/RequestMeta'
    ImageSingleResponse:
      type: object
      properties:
        success:
          type: boolean
          enum: [true]
        data:
          $ref: '#/components/schemas/Image'
        meta:
          $ref: '#/components/schemas/RequestMeta'

    VideoGenerateRequest:
      type: object
      properties:
        prompt:
          type: string
        model:
          type: string
        duration:
          type: integer
    Video:
      type: object
      properties:
        id:
          type: integer
          format: int64
        url:
          type: string
        status:
          type: string
        created_at:
          type: string
          format: date-time
    VideoListResponse:
      type: object
      properties:
        success:
          type: boolean
          enum: [true]
        data:
          type: array
          items:
            $ref: '#/components/schemas/Video'
        pagination:
          $ref: '#/components/schemas/PaginationMeta'
        meta:
          $ref: '#/components/schemas/RequestMeta'
    VideoSingleResponse:
      type: object
      properties:
        success:
          type: boolean
          enum: [true]
        data:
          $ref: '#/components/schemas/Video'
        meta:
          $ref: '#/components/schemas/RequestMeta'

    JobCreatedResponse:
      type: object
      properties:
        success:
          type: boolean
          enum: [true]
        data:
          type: object
          properties:
            job_id:
              type: string
        usage:
          $ref: '#/components/schemas/UsageMeta'
        meta:
          $ref: '#/components/schemas/RequestMeta'
    Job:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
        status:
          type: string
          enum: [pending, processing, completed, failed, cancelled]
        result:
          type: object
        error:
          type: object
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    JobSingleResponse:
      type: object
      properties:
        success:
          type: boolean
          enum: [true]
        data:
          $ref: '#/components/schemas/Job'
        meta:
          $ref: '#/components/schemas/RequestMeta'
    JobListResponse:
      type: object
      properties:
        success:
          type: boolean
          enum: [true]
        data:
          type: array
          items:
            $ref: '#/components/schemas/Job'
        pagination:
          $ref: '#/components/schemas/PaginationMeta'
        meta:
          $ref: '#/components/schemas/RequestMeta'

    SocialAccount:
      type: object
      properties:
        id:
          type: string
        platform:
          type: string
        name:
          type: string
    SocialAccountListResponse:
      type: object
      properties:
        success:
          type: boolean
          enum: [true]
        data:
          type: array
          items:
            $ref: '#/components/schemas/SocialAccount'
        pagination:
          $ref: '#/components/schemas/PaginationMeta'
        meta:
          $ref: '#/components/schemas/RequestMeta'
    SocialPostCreateRequest:
      type: object
      required: [content, account_ids]
      properties:
        content:
          type: string
        account_ids:
          type: array
          items:
            type: string
        scheduled_at:
          type: string
          format: date-time
        media_urls:
          type: array
          items:
            type: string
    SocialPost:
      type: object
      properties:
        id:
          type: integer
        content:
          type: string
        status:
          type: string
        scheduled_at:
          type: string
          format: date-time
        published_at:
          type: string
          format: date-time
        created_at:
          type: string
          format: date-time
    SocialPostResponse:
      type: object
      properties:
        success:
          type: boolean
          enum: [true]
        data:
          $ref: '#/components/schemas/SocialPost'
        meta:
          $ref: '#/components/schemas/RequestMeta'
    SocialPostListResponse:
      type: object
      properties:
        success:
          type: boolean
          enum: [true]
        data:
          type: array
          items:
            $ref: '#/components/schemas/SocialPost'
        pagination:
          $ref: '#/components/schemas/PaginationMeta'
        meta:
          $ref: '#/components/schemas/RequestMeta'
    SocialPostSingleResponse:
      type: object
      properties:
        success:
          type: boolean
          enum: [true]
        data:
          $ref: '#/components/schemas/SocialPost'
        meta:
          $ref: '#/components/schemas/RequestMeta'

    ContentRewriteRequest:
      type: object
      required: [text]
      properties:
        text:
          type: string
        tone:
          type: string
        instructions:
          type: string
    ContentRewriteResponse:
      type: object
      properties:
        success:
          type: boolean
          enum: [true]
        data:
          type: object
          properties:
            text:
              type: string
        usage:
          $ref: '#/components/schemas/UsageMeta'
        meta:
          $ref: '#/components/schemas/RequestMeta'

    TextToSpeechRequest:
      type: object
      required: [text]
      properties:
        text:
          type: string
        voice:
          type: string
        model:
          type: string
    SpeechToTextRequest:
      type: object
      properties:
        file:
          type: string
          format: binary
    AudioFile:
      type: object
      properties:
        id:
          type: integer
        url:
          type: string
        duration_seconds:
          type: number
        created_at:
          type: string
          format: date-time
    AudioSingleResponse:
      type: object
      properties:
        success:
          type: boolean
          enum: [true]
        data:
          $ref: '#/components/schemas/AudioFile'
        usage:
          $ref: '#/components/schemas/UsageMeta'
        meta:
          $ref: '#/components/schemas/RequestMeta'

    UrlShortenRequest:
      type: object
      required: [url]
      properties:
        url:
          type: string
          format: uri
        slug:
          type: string
    ShortUrl:
      type: object
      properties:
        id:
          type: integer
        short_url:
          type: string
        long_url:
          type: string
        slug:
          type: string
        created_at:
          type: string
          format: date-time
    UrlSingleResponse:
      type: object
      properties:
        success:
          type: boolean
          enum: [true]
        data:
          $ref: '#/components/schemas/ShortUrl'
        meta:
          $ref: '#/components/schemas/RequestMeta'
    UrlListResponse:
      type: object
      properties:
        success:
          type: boolean
          enum: [true]
        data:
          type: array
          items:
            $ref: '#/components/schemas/ShortUrl'
        pagination:
          $ref: '#/components/schemas/PaginationMeta'
        meta:
          $ref: '#/components/schemas/RequestMeta'
    UrlStatsResponse:
      type: object
      properties:
        success:
          type: boolean
          enum: [true]
        data:
          type: object
          properties:
            clicks:
              type: integer
            last_click_at:
              type: string
              format: date-time
        meta:
          $ref: '#/components/schemas/RequestMeta'

    CaptainMessageRequest:
      type: object
      required: [message]
      properties:
        message:
          type: string
        conversation_id:
          type: string
    CaptainMessage:
      type: object
      properties:
        id:
          type: string
        role:
          type: string
        content:
          type: string
        created_at:
          type: string
          format: date-time
    CaptainMessageResponse:
      type: object
      properties:
        success:
          type: boolean
          enum: [true]
        data:
          type: object
          properties:
            message:
              $ref: '#/components/schemas/CaptainMessage'
            conversation_id:
              type: string
        usage:
          $ref: '#/components/schemas/UsageMeta'
        meta:
          $ref: '#/components/schemas/RequestMeta'
    Conversation:
      type: object
      properties:
        id:
          type: string
        messages:
          type: array
          items:
            $ref: '#/components/schemas/CaptainMessage'
        created_at:
          type: string
          format: date-time
    ConversationListResponse:
      type: object
      properties:
        success:
          type: boolean
          enum: [true]
        data:
          type: array
          items:
            $ref: '#/components/schemas/Conversation'
        pagination:
          $ref: '#/components/schemas/PaginationMeta'
        meta:
          $ref: '#/components/schemas/RequestMeta'
    ConversationSingleResponse:
      type: object
      properties:
        success:
          type: boolean
          enum: [true]
        data:
          $ref: '#/components/schemas/Conversation'
        meta:
          $ref: '#/components/schemas/RequestMeta'

    MediaItem:
      type: object
      properties:
        id:
          type: string
        url:
          type: string
        filename:
          type: string
        size_bytes:
          type: integer
        mime_type:
          type: string
        created_at:
          type: string
          format: date-time
    MediaListResponse:
      type: object
      properties:
        success:
          type: boolean
          enum: [true]
        data:
          type: array
          items:
            $ref: '#/components/schemas/MediaItem'
        pagination:
          $ref: '#/components/schemas/PaginationMeta'
        meta:
          $ref: '#/components/schemas/RequestMeta'
    MediaSingleResponse:
      type: object
      properties:
        success:
          type: boolean
          enum: [true]
        data:
          $ref: '#/components/schemas/MediaItem'
        meta:
          $ref: '#/components/schemas/RequestMeta'
    MediaUploadUrlRequest:
      type: object
      required: [filename, content_type]
      properties:
        filename:
          type: string
        content_type:
          type: string
    MediaUploadUrlResponse:
      type: object
      properties:
        success:
          type: boolean
          enum: [true]
        data:
          type: object
          properties:
            upload_url:
              type: string
            media_id:
              type: string
        meta:
          $ref: '#/components/schemas/RequestMeta'

    UserProfileResponse:
      type: object
      properties:
        success:
          type: boolean
          enum: [true]
        data:
          type: object
          properties:
            id:
              type: integer
            email:
              type: string
            name:
              type: string
        meta:
          $ref: '#/components/schemas/RequestMeta'
    UsageSummaryResponse:
      type: object
      properties:
        success:
          type: boolean
          enum: [true]
        data:
          type: object
          properties:
            total_requests:
              type: integer
            total_credits_used:
              type: number
        meta:
          $ref: '#/components/schemas/RequestMeta'
    BalanceResponse:
      type: object
      properties:
        success:
          type: boolean
          enum: [true]
        data:
          type: object
          properties:
            balance_sqc:
              type: number
            currency:
              type: string
              example: SQC
        meta:
          $ref: '#/components/schemas/RequestMeta'
